.hero {
  background-image: url("../images/doctor.jpg");
  min-height: 100vh;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.subheader {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.navlink {
  text-decoration: none;
  color: brown;
}
