.registerContainer {
  background-image: url("../images/doctor.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.register {
  font-family: sans-serif;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin: 20% auto;
  width: 50%;
  min-height: 30vh;
  border-radius: 5%;
  padding: 2rem;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  gap: 20px;
}

.item1 {
  grid-row: 2/3;
  grid-column: 2/4;
}

.item2 {
  grid-row: 2/3;
  grid-column: 5/8;
}

.item3 {
  grid-row: 3/4;
  grid-column: 2/4;
}

.item4 {
  grid-row: 3/4;
  grid-column: 5/8;
}

.item5 {
  grid-row: 4/5;
  grid-column: 4/7;
  font-size: 1.5rem;
}
h1 {
  font-family: sans-serif;
  font-size: 5rem;
  background-color: aliceblue;
  text-align: center; /* Center the text inside h1 */
  margin: 10px auto; /* Center the h1 element itself */
  width: fit-content; /* Make the width fit the content of the h1 */
  padding: 10px; /* Optional: Add padding for spacing */
}
